*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#0b0b0b;
color:white;
padding:40px;

}

header{

text-align:center;
margin-bottom:60px;

}

h1{

font-size:55px;

margin-bottom:20px;

}

.subtitle{

font-size:22px;
opacity:.8;

}

.message{

max-width:900px;
margin:auto;
margin-bottom:60px;

line-height:1.8;

font-size:20px;

}

#quotes{

display:grid;
gap:20px;

}

.quote{

background:#181818;

padding:25px;

border-radius:15px;

transition:.3s;

}

.quote:hover{

transform:translateY(-5px);

background:#232323;

}
